@import '../../scss/variables';

.Soundboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.Soundboard__input {
    border-radius: 3px;
    border: 1px solid lighten($gray1, 5%);
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
}

.Dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid lighten($gray1, 10%);
    padding: 20px;
    color: lighten($gray1, 15%);
    border-radius: 1em;
    width: 300px;
    height: 300px;
    background-color: $gray2;
    transition: background-color 0.1s linear;
}

.Dropzone--active {
    background-color: $primaryBlue;
}