.card {
  background-color: $gray2;
  border-radius: 5px;
  max-width: 800px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid $gray3;
}

.card__header {
  margin: -10px -10px 10px -10px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 50px;
  border-radius: 5px 5px 0 0;
  font-size: 25px;
  background-color: $gray3;
}
