html {
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

a,
.link {
  text-decoration: none;
  color: $primaryBlue;
  transition: color 0.1s linear;
  cursor: pointer;

  &:hover {
    color: $white;
  }
}

i {
  margin-left: 5px;
  margin-right: 5px;
}

body {
  background-color: $gray1;
  color: $white;
}

.flex {
  display: flex;
}

.flex--v-center {
  align-items: center;
}

.content {
  padding: 20px;
  @include tinyScreen {
    padding: 10px;
  }
}

.column {
  flex: 1;

  & + .column {
    margin-left: 10px;
  }
}

.text-wrap {
  word-break: break-word;
  word-wrap: break-word;
}

.color {
  &__red {
    color: $red;
  }

  &__primary {
    color: $primaryBlue;
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.hide-tiny {
  @include tinyScreen {
    display: none;
  }
}
