.table {
  width: 100%;

  thead {
    text-align: left;
  }
  td,
  th {
    padding: 10px 5px;
  }
}

.table--ellipsis {
  td,
  th {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
