@import "../../scss/variables";

.pubg__container {
    padding: 10px;
}

.pubg__table {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
    margin-top: 20px;

    tr + tr {
        border-top: 1px solid $gray3;
    }

    td, th {
        padding: 5px;
    }
}

.pubg__button-row {
    margin-bottom: 10px;

    .button {
        min-width: 100px;

        & + .button {
            margin-left: 5px;
        }
    }
}
